.header{
    background-image: url(https://images.pexels.com/photos/1271619/pexels-photo-1271619.jpeg?cs=srgb&dl=pexels-andrei-tanase-1271619.jpg&fm=jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    z-index: 1;
}
.fhead{
    text-align: center;
    margin: 10px;
}
.imgf{
    font-size: 60px;
    font-family: fantasy;
    font-weight: 600;
    color: white;
    margin-left: 300px;
    margin-top: 100px;
}
span{
    font-family:cursive ;
}
#btnf{
    margin-left: 700px;
    margin-top: 90px;
}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.card{
     box-shadow:none;
     transition: 0.5s;
}
.cimg{
    height: 11rem;
}
.btn2{
    margin-left: 700px;
    margin-top: 60px;
}
.imgc{
    height: 80vh;
}
h4{
    font-size: 350%;
    color:rgb(252, 250, 250);
}
.arts{
    display:flex;
    justify-content: space-evenly;
    margin-top: 60px;
    flex-wrap: nowrap;
}
.collage{
    margin-top: 30px;
}
.imgcards{
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: nowrap;
}
.small{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.smallogo{
    width:200px ;
    height: 200px;
    border-radius: 50%;
}
.flogo{
    width: 200px;
}
.footer{
    margin-top: 10px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.fb{
    width: 30px;
    margin: 5px;
}
.insta{
    color: #358597;
    font-size: 30px;
    margin: 5px;
}
.fhead{
    color: #F4A896;
}
.fpara{
    color: #358597;
}
.cont{
    font-size: 30px;
}
.con{
    font-size: larger;
}
.caad{
    height: 200px;
    width: 300px;
    border-radius: 5px;
}
.contt{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    color: white;
    background: rgb(0,0,0,0.6);
    opacity: 0;
    transition: 0.5s;
}
.contt:hover{
    opacity: 1;
}
.card:hover{
    box-shadow: 10px 10px 10px 10px;
}
@media (max-width:1000px){
    .imgcards{
        flex-wrap: wrap;
    }
    .cards{
        flex-wrap: wrap;
    }
    .arts{
        flex-wrap: wrap;
    }
    .small{
        flex-wrap: wrap;
    }
    #btnf{
     visibility: collapse;
    }
    .btn2{
        visibility: collapse;
    }
    .header{
        background-size:100%;
        height: 100vh;
    }
    .imgf{
        font-size: 40px;
        margin-left: 200px;
    }
}